    <%- include('../partials/navbar') %>
    <div class="center">
    <h1>User Profile</h1>

    <div class="user-profile">
        <% if (user.path_to_avatar) { %>
            <img src="/<%= user.path_to_avatar %>" alt="Profile Picture" style="width: 150px; height: 150px;">
        <% } else { %>
            <p>No picture available</p>
        <% } %>

        <h2>Username: <%= user.username %></h2>
        <% if(user.is_admin) { %>
          <h3 style="color: red">Admin</h3>
        <% } %>

        <% if (editable) { %>
          <div class="profile-actions">
            <a href="/profile/<%= user.id %>/edit">Edit Profile</a>
          </div>
        <% } %>
        <% if(adminAccess && !editable) { %>
          <div class="profile-actions">
            <a href="/profile/<%= user.id %>/admin/edit" style="color: red">Edit this user's profile</a>
          </div>
        <% } %>
    </div>
    </div>
</body>
</html>
