<%- include('../partials/navbar') %>
<h1>Notifications</h1>

<% for (let i = 0; i < (notifications ? notifications.length : 0); i++) { %>
    <div>
    <h2><%= notifications[i].message %></h2>
    <p><%= notifications[i].post_time %></p>
    <% if (notifications[i].notification_type === 1) { %> 
        <form action="/notifications/<%= notifications[i].id %>/accept_moderator" method="POST">
            <button type="submit">Accept</button>
        </form>
        <form action="/notifications/<%= notifications[i].id %>/reject_moderator" method="POST">
            <button type="submit">Decline</button>
        </form>
    <% } %>

    </div>
<% } %>
</body>
</html>
