<!DOCTYPE html>
<html>
<head>
  <title><%= group.name %> Group</title>
    <script>
      form.addEventListener('submit', (e) => {
        e.preventDefault();
      });
    </script>
</head>
<body>
    <%- include('../partials/navbar') %>
  <div>
    <h1><%= group.name %></h1>
    <p><%= group.description %></p>
    <img src="/<%= group.path_to_avatar%>" height="100px">
    <% if (user_can_edit) { %>
      <h2>Edit group</h2>
      <form action="/groups/<%= group.id %>/?_method=PUT" method="post", if="form" enctype="multipart/form-data">
        <p><i>Empty fields will be ignored.</i></p>
        <input type="hidden" name="_method" value="PUT">
        <label for="name">New name: </label>
        <input type="text" name="name" placeholder="<%= group.name %>" /> <br>
        <label for="text">New description: </label>
        <input type="text" name="description" placeholder="<%= group.description %>" /> <br>
        <label for="avatar">New avatar: </label>
        <input type="file" name="avatar" placeholder="avatar"/> <br>
        <label for="visibility">New visibility</label>
        <select name="visibility" id="visibility">
          <option value="2" <%= group.visibility == 2 ? "selected" : "" %>>Public</option>
          <option value="1" <%= group.visibility == 1 ? "selected" : "" %>>Private</option>
          <option value="0" <%= group.visibility == 0 ? "selected" : "" %>>Invite only</option>
        </select>
        <input type="submit" value="Edit group" /> <br>
      </form>
      <form action="/groups/<%= group.id %>/?_method=DELETE" method="post" name="delete_form" id="delete_form" enctype="multipart/form-data">
        <input type="button" style="color: red" name="delete" id="delete" value="Delete group" onclick="delete_group()">
      </form> 
      <hr>
    <% } %>
    <hr>
    <% if (user) { %>
      <h2>Create Thread</h2>
      <form action="/threads/<%= group.id %>" method="post", enctype="x-www-form-urlencoded">
        <label for="title">Title: </label>
        <input type="text" name="title" placeholder="Title" /> <br>
        <label for="content">Content: </label>
        <input type="text" name="content" placeholder="Content" /> <br>
        <input type="submit" value="Start fitting!" /> <br>
      </form>
      <hr>
    <% } %>
  </div>
  <script>
    function delete_group() {
      let r = confirm("Are you sure you want to delete this group?");
      if (r == true) {
        document.getElementById("delete_form").submit();
      }
    }
  </script>
  <div>
    <% for (let i = 0; i < threads.length; i++) { %>
      <h2><%=  %></h2>
      <p clss="commentInfo"> <a href="/profile/<% threads[i].user_id %>"><img class="profilePicture" src="/<%= threads[i].path_to_avatar %>" height="40px">
        <%= threads[i].username %></a> -
        <i><%= threads[i].post_time %></i>
      </p>
      <% if (threads[i].edited) { %>
        <p>edited</p>
      <% } %>

      <a href="/threads/<%= threads[i].thread_id %>"><h3><%= threads[i].title %></h3></a>
      <p class="commentContent"><%= threads[i].content %></p>
      <a href="/threads/<%= threads[i].thread_id %>">Open thread</a>
      <hr>
    <% } %>
  </div>
</body>
</html>
