    <%- include('../partials/navbar') %>
  <link rel="stylesheet" href="/public/css/thread.css">
<!DOCTYPE html>
<body>
<div class="member-sidebar" style="width: 25%; float: left; padding: 10px; box-sizing: border-box;">
    <h3 style="text-align: center;">Group Members</h3>
    <div class="owner" style="margin-bottom: 20px;">
      <h4>Owner</h4>
      <p><%= owner.username %> (<a href="/profile/<%= owner.user_id %>">Profile</a>)</p>
    </div>
    <div class="moderators" style="margin-bottom: 20px;">
      <h4>Moderators</h4>
      <% moderators.forEach(function(moderator) { %>
        <div style="display: flex; align-items:center; gap: 10px">
        <p><%= moderator.username %> (<a href="/profile/<%= moderator.user_id %>">Profile</a>)</p>

        <% if (user && (owner.user_id == user.id || user.isAdmin )) { %>
          <form <%- `id="form_hand_over_ownership_${moderator.user_id}"` %> style="display: none" action="/groups/<%= group.id %>/hand_over_ownership/<%= moderator.user_id %>" method="post">
          </form>
            <input style="display:inline; font-size: 10px;" type="button" <%- `onClick="hand_over_ownership(${moderator.user_id})"` %> value="Hand Over Ownership" style="padding: 5px 10px; margin-top: 5px;"/>
          <form <%- `id="form_revoke_moderator_${moderator.user_id}"` %> style="display: none" action="/groups/<%= group.id %>/revoke_moderator/<%= moderator.user_id %>" method="post">
          </form>
            <input style="display:inline; font-size: 10px;" type="button" <%- `onClick="revoke_moderator(${moderator.user_id})"` %> value="Revoke moderator privileges" style="padding: 5px 10px; margin-top: 5px;"/>
        </div>
        <% } %>
      <% }); %>
    </div>
    <div class="members">
      <h4>Members</h4>
      <% members.forEach(function(member) { %>
        <div style="display: flex; align-items:center; gap: 10px">
          <p><%= member.username %> (<a href="/profile/<%= member.user_id %>">Profile</a>)</p>
          <% if(user_is_moderator_or_higher) { %>
          <form style="display: none" type="hidden" id="kick_user_form_<%= member.user_id %>" action="/groups/<%= group.id %>/kick/<%= member.user_id %>" method="post">
          </form>
            <input style="color: red" type="button" value="Remove member" onclick="kick_user(<%= "\"" + member.username + "\"" %>,
              <%= member.user_id %>)"/>
        </div>
        <% } %>
      <% }); %>
    </div>

</div>
</div>
</div>
  <div class="center">
  <div>
    <img src="/<%= group.path_to_avatar%>" height="100px">
    <h1><%= group.name %></h1>
    <p><%= group.description %></p>

      <% if (user_is_moderator_or_higher) { %>
<form id="inviteForm" action="/groups/<%= group.id %>/invite/" method="post">
    <input type="hidden" id="userId" name="userId" value="" />
    <input type="text" id="userSearch" placeholder="Search for users..." />
    <ul id="userSearchResults"></ul>
    <input type="submit" value="Invite User" />
</form>
<br>
      <% } %>
     
      <% if (user_can_join) { %>
        <form action="/groups/<%= group.id %>/join" method="post">
          <input type="submit" value="Join group" />
        </form>
      <% } %>
  
      <% if (user_can_apply_for_moderator) { %>
        <form action="/groups/<%= group.id %>/request_moderator" method="post">
          <input type="submit" value="Request moderator" />
        </form>
      <% } %>

      <% if(user_can_leave) { %>
        <form action="/groups/<%= group.id %>/leave" method="post" id="leave_group_form" name="leave_group_form">
          <input type="button" value="Leave group" class="button-delete" onClick="leave_group()"/>
        </form>
      <% } %>

      <hr>
    <% if (user_can_edit) { %>
      <h2>Edit group</h2>
      <form action="/groups/<%= group.id %>/?_method=PUT" method="post" if="form" enctype="multipart/form-data">
        <p><i>Empty fields will be ignored.</i></p>
        <input type="hidden" name="_method" value="PUT">
        <label for="name">New name: </label>
        <input type="text" name="name" placeholder="<%= group.name %>" /> <br>
        <label for="text">New description: </label>
        <input type="text" name="description" placeholder="<%= group.description %>" /> <br>
        <label for="avatar">New avatar: </label>
        <input type="file" name="avatar" placeholder="avatar"/> <br>
        <label for="visibility">New visibility</label>
        <select name="visibility" id="visibility">
          <option value="2" <%= group.visibility == 2 ? "selected" : "" %>>Public</option>
          <option value="1" <%= group.visibility == 1 ? "selected" : "" %>>Registered users</option>
          <option value="0" <%= group.visibility == 0 ? "selected" : "" %>>Invite only</option>
        </select>
        <input type="submit" value="Edit group" /> <br>
      </form>
      <form action="/groups/<%= group.id %>/?_method=DELETE" method="post" name="delete_form" id="delete_form" enctype="multipart/form-data">
        <input type="button" style="color: red" name="delete" id="delete" value="Delete group" onclick="delete_group()">
      </form> 
    <hr>
    <% } %>
    <% if (user && user_can_post) { %>
      <h2>Create Thread</h2>
      <form action="/threads/<%= group.id %>" method="post", enctype="x-www-form-urlencoded">
        <label for="title">Title: </label>
        <input type="text" name="title" placeholder="Title" /> <br>
        <label for="content">Content: </label>
        <input type="text" name="content" placeholder="Content" /> <br>
        <input type="submit" value="Start fitting!" /> <br>
      </form>
      <hr>
    <% } %>
  </div>
  <script>
    function delete_group() {
      let r = confirm("Are you sure you want to delete this group?");
      if (r == true) {
        document.getElementById("delete_form").submit();
      }
    }
  </script>


<script>
    document.getElementById('userSearch').addEventListener('input', function(e) {
        const searchTerm = e.target.value;
        const resultsContainer = document.getElementById('userSearchResults');
        
        if (searchTerm === "") {
            resultsContainer.style.display = 'none';
            return;
        } else {
            resultsContainer.style.display = 'block';
        }

        const groupId = '<%= group.id %>';

        fetch(`/users/search-non-members?query=${encodeURIComponent(searchTerm)}&groupId=${encodeURIComponent(groupId)}`)
            .then(response => response.json())
            .then(users => {
                resultsContainer.innerHTML = '';
                if (users.length === 0) {
                    resultsContainer.style.display = 'none';
                    return;
                }

                resultsContainer.style.border = '1px solid #ddd';
                resultsContainer.style.padding = '10px';
                resultsContainer.style.maxHeight = '150px';
                resultsContainer.style.overflowY = 'auto';

                users.forEach(user => {
                    const li = document.createElement('li');
                    li.textContent = user.username;
                    li.style.padding = '5px';
                    li.style.cursor = 'pointer';
                    li.style.borderBottom = '1px solid #eee';
                    li.style.listStyleType = 'none';

                    li.addEventListener('click', function() {
                        document.querySelectorAll('#userSearchResults li').forEach(li => li.style.backgroundColor = 'transparent');
                        this.style.backgroundColor = '#e9e9e9';

                        document.getElementById('userId').value = user.id;
                        const form = document.getElementById('inviteForm');
                        form.action = `/groups/${groupId}/invite/${user.id}`;
                        document.getElementById('userSearch').value = user.username;
                    });

                    resultsContainer.appendChild(li);
                });
            })
            .catch(error => console.error('Error:', error));
    });
</script>

<script>
  const leave_group = () => {
    debugger;
    let r = confirm("Are you sure you want to leave this group?");
    if(r){
      document.getElementById("leave_group_form").submit();
    }
  }
  const kick_user = (username, user_id) => {
    let r = confirm("Are you sure you want to kick the user " + username + " from the group?");
      if(r) {
        document.getElementById("kick_user_form_" + user_id).submit();
      }
  } 
  const hand_over_ownership = (id) => {
    let r = confirm("Are you sure you want to transfer ownership of this group?");
    if(r) {
      document.getElementById("form_hand_over_ownership_" + id).submit();
    }
  }

  const revoke_moderator = (id) => {
    let r = confirm("Are you sure you want to revoke this moderator's privileges?")
      if(r) {
        document.getElementById("form_revoke_moderator_" + id).submit();
      }
  }
  
  const delete_thread = (id) => {
    let r = confirm("Are you sure you want to delete this thread?");
    if(r){
      document.getElementById("form_delete_thread_" + id).submit();
    }
  }
</script>

<h2>Threads</h2>
<div class="center" style="max-width: 800px; margin: auto; padding: 0px;">
    <% for (let i = 0; i < threads.length; i++) { %>
        <div style="background-color: #f4f4f4; border: 1px solid #ddd; padding: 15px; margin-bottom: 15px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
            <%- include('../partials/user.ejs', { user_id: threads[i].user_id, path_to_avatar: threads[i].path_to_avatar, username: threads[i].username, details: threads[i].post_time }) %>
            <% if (threads[i].edited) { %>
                <p style="color: #666; font-style: italic;">edited</p>
            <% } %>

            <a href="/threads/<%= threads[i].parent_id %>" style="text-decoration: none; color: #007bff;">
                <h3 style="margin-top: 0;"><%= threads[i].title %></h3>
            </a>
            <p class="commentContent" style="color: #333;"><%= threads[i].content %></p>
            <a href="/threads/<%= threads[i].parent_id %>" style="text-decoration: none; color: #007bff;">Open thread</a>
            <hr style="border-top: 1px solid #ddd;">
            <% if(user_is_moderator_or_higher) { %>
              <form <%- `id="form_delete_thread_${threads[i].parent_id}"` %> style="display: none" method="post" action="/groups/<%= group.id  %>/delete_thread/<%= threads[i].parent_id %>">
              </form>
              <input type="button" onClick="delete_thread(<%- `${threads[i].parent_id}` %>)" value="Delete thread" class="button-delete">
            <% } %>
        </div>
    <% } %>
</div>
</body>
</html>
